<h2>Introduction</h2>
<div class="rendered">

<p>This website provides my various summaries of the research that I carry out on three specific fields, which are, software engineering, hacking and video games.</p>

<p>They are free to access and you can use the information I share as you wish.</p>

<p>These informations are grouped togethers on the green panel on the right of your screen.</p>

<p>If you have questions about any of the information I provide or notice an error, you can contact me on my Linkedin.</p>

<p>If you are not familiar with some of the mathematical concepts discussed here, allow me to recommend the excellent <a href="https://fr.khanacademy.org/">khan academy</a> website, which will allow you to get up to speed.</p>

<p>Likewise, if you are not familiar with English, allow me to recommend the website <a href="https://www.duolingo.com/learn">Duolinguo</a>.</p>
</div>